<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      {{ trainingName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" color="danger" (click)="showLoading()">Show Loading</ion-button>

  <ion-button expand="block" color="danger" (click)="showToast()">Show Toast</ion-button>

  <ion-button expand="block" color="danger" (click)="showAlert()">Show Alert</ion-button>

  <ion-button expand="block" color="danger" (click)="showActionSheet()">Show Actionsheet</ion-button>
</ion-content>