<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Hello Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>
        New Delhi
      </ion-card-subtitle>
      <ion-card-title>
        Capital of India
      </ion-card-title>
    </ion-card-header>

    <ion-img src="https://loremflickr.com/320/240/city"></ion-img>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolor vel natus! Maxime repellendus distinctio
      ratione ex beatae. Tempora, laudantium? Perferendis molestias animi laboriosam distinctio perspiciatis? Quod aut
      illo veritatis.
    </ion-card-content>

    <ion-list lines="none">
      <ion-item>
        <ion-label>Population</ion-label>
        <ion-note color="danger">14.6M</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Roads</ion-label>
        <ion-note color="success">29K KMS</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Railways</ion-label>
        <ion-note color="warning">YES</ion-note>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolor vel natus! Maxime repellendus distinctio
      ratione ex beatae. Tempora, laudantium? Perferendis molestias animi laboriosam distinctio perspiciatis? Quod aut
      illo veritatis.
    </ion-card-content>


  </ion-card>

</ion-content>